repos:
  - repo: local
    hooks:
      - id: run-tests
        name: Run tests
        entry: venv\Scripts\python -m pytest test_planets.py -v --tb=short
        language: system
        pass_filenames: false
        always_run: true
        stages: [pre-commit]